<div class="row my-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/{{#if (equals site.lang "ru")}}ru{{/if}}">{{site.locale.products}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{page.name}}</li>
    </ol>
  </nav>
  <h1>{{page.name}}</h1>
  <p class="lead">
    {{{page.about}}}
  </p>
</div>