<h5>Способы доставки</h5>
<ul>
  <li>Доставка "Нова Пошта"</li>
  <li>Самовывоз со склада</li>
</ul>
<h5>Способы оплаты</h5>
<ul>
  <li>Наложенный платеж "Нова Пошта"</li>
  <li>Предоплата на карту Приват Банка.</li>
  <li>Предоплата на карту monobank</li>
  <li>Наличными</li>
</ul>
