<h5>Способи доставки</h5>
<ul>
  <li>Доставка "Нова Пошта"</li>
  <li>Самовивіз зі складу</li>
</ul>
<h5>Способи оплати</h5>
<ul>
  <li>Післяплати (накладений платіж) "Нова Пошта"</li>
  <li>Передплата на картку Приват Банку.</li>
  <li>Передплата на картку monobank</li>
  <li>Готівкою</li>
</ul>
