{{#if user.auth}}
  <a href="/logout">Выйти</a>
  <h3>Для полного выхода, также нажмите кнопку «Завершить сеанс» в Telegram</h3>
  <h3>Историю заказов можно просмотреть в боте <a href="//t.me/RzkCrimeaBot?start=fromsite">@RzkCrimeaBot</a></h3>
{{else}}
  <h3>Войти</h3>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Можно войти прямо из приложения Telegram!</strong> Подписывайтесь на нашего бота
    <a href="//t.me/RzkCrimeaBot?start=fromsite">@RzkCrimeaBot</a> внизу списка объектов есть кнопка Войти на сайт rzk.com.ru
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{{/if}}
<script async src="https://telegram.org/js/telegram-widget.js?15" data-telegram-login="RzkCrimeaBot" data-size="large" data-auth-url="https://rzk.com.ru/login" data-request-access="write"></script>
