{{#if user.auth}}
  <a href="/logout">Вийти</a>
  <h3>Щоб відʼєднатися від rzk.com.ua, натисніть кнопку «Відʼєднатися» в Telegram</h3>
  <h3>Історію замовлень можна переглянути тут <a href="//t.me/RzkMarketBot?start=fromsite">@RzkMarketBot</a></h3>
{{else}}
  <h3>Вхід</h3>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>На сайт можно увійти прямо з додатку Telegram!</strong> Приєднуйтесь до нашего бота
    <a href="//t.me/RzkMarketBot?start=fromsite">@RzkMarketBot</a> внизу списку об'єктів є кнопка Вхід на сайт rzk.com.ua
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{{/if}}
<script async src="https://telegram.org/js/telegram-widget.js?15" data-telegram-login="RzkMarketBot" data-size="large" data-auth-url="https://rzk.com.ua/login/{{redirectPage}}" data-request-access="write"></script>
