@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";
@import "@algolia/autocomplete-theme-classic";
@import "smartphoto/scss/smartphoto";

/* Autocomplete */
:root {
  --aa-search-input-height: 38px;
}

.aa-Panel {
  z-index: 4;
}

.smartphoto {
  z-index: 2100;
}
