<!-- Modal -->
<div class="modal" id="cartAddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <input type="text" id="qty" class="form-control" placeholder="Введите количество товара" aria-label="Введите количество товара" aria-describedby="basic-addon2">
          <span class="input-group-text" id="basic-addon2"></span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" id="addToCart" class="btn btn-primary">Добавить</button>
      </div>
    </div>
  </div>
</div>
<script>
  const cartAddModal = document.getElementById("cartAddModal");
  const cartAddModalOpt = new bootstrap.Modal(cartAddModal);
  const qty = document.getElementById("qty");
  const product = {};
  let button = {};
  cartAddModal.addEventListener("show.bs.modal", function (event) {
    // Button that triggered the modal
    button = event.relatedTarget;
    // Extract info from data-bs-* attributes
    product.objectId = button.getAttribute("data-bs-objectId");
    product.id = button.getAttribute("data-bs-id");
    product.name = button.getAttribute("data-bs-name");
    product.price = + button.getAttribute("data-bs-price");
    product.unit = button.getAttribute("data-bs-unit");
    product.qty = + button.getAttribute("data-bs-qty");
    product.added = false;
    qty.value = "";
    // If necessary, you could initiate an AJAX request here
    // and then do the updating in a callback.
    //
    // Update the modal's content.
    const modalTitle = cartAddModal.querySelector(".modal-title");
    const modalUnit = cartAddModal.querySelector('#basic-addon2');
    modalTitle.textContent = product.name;
    modalUnit.textContent = product.unit;
  });
  // focus qty input when modal shown
  cartAddModal.addEventListener("shown.bs.modal", function (event) {
    if (product.qty) {
      product.added = true;
      qty.value = product.qty;
    }
    qty.focus();
  });
  // add product to cart
  const addToCartHandler = async () => {
    product.qty = + qty.value;
    try {
      const response = await fetch("/cart/add", {
        method: "POST",
        headers: {
          "Content-Type": "application/json;charset=utf-8",
        },
        body: JSON.stringify(product),
      });
      const productRes = await response.json();
      if (!response.ok) {
        throw new Error(productRes.error);
      }
      console.log(JSON.stringify(productRes));
      if (productRes.qty) {
        button.innerText = `${productRes.qty} ${productRes.unit}`;
        button.setAttribute("data-bs-qty", productRes.qty);
      } else {
        button.innerText = "Добавить товар";
        button.removeAttribute("data-bs-qty");
      }
      // hide modal
      cartAddModalOpt.hide();
    } catch (error) {
      alert(error);
    }
  };
  // events
  document.getElementById("addToCart").addEventListener("click", async () => {
    await addToCartHandler();
  });

  qty.addEventListener("keydown", async (event) => {
    if(event.keyCode === 13) {
      await addToCartHandler();
      // for hide modal
      event.preventDefault();
    }
  });
</script>
