<!-- Modal -->
<div class="modal" id="cartAddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="addToCartForm" action="/o/{{object.id}}/cart/add">
        <div class="modal-body">
          <div class="input-group mb-3">
            <input type="number" min="0" id="qty" name="qty" class="form-control" placeholder="Введите количество товара" aria-label="Введите количество товара" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2"></span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="deleteFromCart" class="btn btn-danger">Удалить</button>
          <button type="submit" id="addToCart" class="btn btn-primary" data-bs-currencyName="{{currencyName}}">Купить</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  // helper round to 2 decimals
  const roundNumber = (num) => {
    return Math.round((num + Number.EPSILON) * 100) / 100;
  };
  const cartAddModal = document.getElementById("cartAddModal");
  const cartAddModalOpt = new bootstrap.Modal(cartAddModal);
  const addButton = document.getElementById("addToCart")
  const delButton = document.getElementById("deleteFromCart");
  const qtyInput = document.getElementById("qty");
  let button = {};
  cartAddModal.addEventListener("show.bs.modal", function (event) {
    // Button that triggered the modal
    button = event.relatedTarget;
    // Extract info from data-bs-* attributes
    // set default values
    qtyInput.value = "";
    delButton.classList.add("d-none");
    addButton.disabled = false;
    delButton.disabled = false;
    // Update the modal's content.
    const modalTitle = cartAddModal.querySelector(".modal-title");
    const modalUnit = cartAddModal.querySelector('#basic-addon2');
    modalTitle.textContent = `${button.getAttribute("data-bs-name")} (${button.getAttribute("data-bs-id")})`;
    modalUnit.textContent = button.getAttribute("data-bs-unit");
  });
  // focus qty input when modal shown
  cartAddModal.addEventListener("shown.bs.modal", function (event) {
    const productCartQty = + button.getAttribute("data-bs-qty");
    if (productCartQty) {
      qtyInput.value = productCartQty;
      delButton.classList.remove("d-none");
    }
    qty.focus();
    qty.select();
  });
  // add product to cart

  const form = document.getElementById("addToCartForm");
  form.addEventListener("submit", async (event) => {
    event.preventDefault();
    try {
      addButton.disabled = true;
      delButton.disabled = true;
      const qty = + qtyInput.value;
      const productId = button.getAttribute("data-bs-id");
      const added = + button.getAttribute("data-bs-qty");
      const response = await fetch(form.action, {
        method: "POST",
        headers: {
          "Content-Type": "application/json;charset=utf-8",
        },
        body: JSON.stringify({
          productId,
          qty,
          added,
        }),
      });
      const resJson = await response.json();
      if (!response.ok) {
        throw new Error(resJson.error);
      }
      // console.log(JSON.stringify(resJson));
      const currencyName = addButton.getAttribute("data-bs-currencyName");
      if (qty) {
        button.innerText = `${qty} ${button.getAttribute("data-bs-unit")} ${roundNumber(qty * resJson.price)} ${currencyName}`;
        button.setAttribute("data-bs-qty", qty);
        button.classList.remove("btn-primary");
        button.classList.add("btn-success");
      } else {
        button.innerText = "Купить";
        button.classList.remove("btn-success");
        button.classList.add("btn-primary");
        button.removeAttribute("data-bs-qty");
      }
      const cartCountNav = document.getElementById("cartCountNav");
      const totalSumNav = document.getElementById("totalSumNav");
      const totalQty = document.getElementById("totalQty");
      const totalSum = document.getElementById("totalSum");
      if (totalQty) {
        totalQty.innerText = resJson.cartInfo.totalQty;
      }
      if (totalSum) {
        totalSum.innerText = `${resJson.cartInfo.totalSum} ${currencyName}`;
      }
      cartCountNav.innerText = resJson.cartInfo.cartCount;
      totalSumNav.innerText = `${resJson.cartInfo.totalSum} ${currencyName}`;
      // hide modal
      cartAddModalOpt.hide();
    } catch (error) {
      alert(error);
      addButton.disabled = false;
      delButton.disabled = false;
    }
  });
  // delete product
  delButton.addEventListener("click", async () => {
    qty.value = "";
    addButton.click();
  });
</script>
