<h5>{{envSite.i18n.modalPurchase.carrier}}</h5>
<ul>
  {{#each carriers as |carrier|}}
    <li>{{carrier.name}}</li>
  {{/each}}
</ul>
<h5>{{envSite.i18n.modalPurchase.payment}}</h5>
<ul>
  {{#each payments as |payment|}}
    <li>{{payment.name}}</li>
  {{/each}}
</ul>
