<h5>Способы доставки</h5>
<ul>
  <li>Доставка "СДЭК"</li>
  <li>Самовывоз со склада</li>
</ul>
<h5>Способы оплаты</h5>
<ul>
  <li>Наложенный платеж "СДЭК"</li>
  <li>Предоплата на карту РНКБ.</li>
  <li>Предоплата на карту You Money</li>
  <li>Наличными</li>
</ul>
