{{#if (equals envSite.data.lang "ru-ua")}}
<h1>Обмен и возврат</h1>
<p class="lead">
   Обмен или возврат товара надлежащего качества может быть осуществлен в течение 14 дней со дня покупки (срок определяется по дате, указанной в счете на отгрузку), при следующих условиях:
</p>
<ul>
   <li>Товар не должен эксплуатироваться в течение всего срока от покупки</li>
   <li>Сохранены товарный вид, потребительские свойства, пломбы, ярлыки, упаковка приобретенного товара.</li>
</ul>
{{else}}
<h1>Обмін та повернення</h1>
<p class="lead">
  Обмін або повернення товару належної якості може бути здійснено протягом 14 днів з дня покупки (термін визначається за датою, зазначеною у рахунку на відвантаження), за наступних умов:
</p>
<ul>
  <li>Товар не повинен експлуатуватися протягом усього терміну від покупки</li>
  <li>Збережено товарний вигляд, споживчі властивості, пломби, ярлики, упаковка придбаного товару.</li>
</ul>
{{/if}}