<h5>Обмін та повернення</h5>
<p class="lead">
  Обмін або повернення товару належної якості може бути здійснено протягом 14 днів з дня покупки (термін визначається за датою, зазначеною у рахунку на відвантаження), за наступних умов:
</p>
<ul>
  <li>Товар не повинен експлуатуватися протягом усього терміну від покупки</li>
  <li>Збережено товарний вигляд, споживчі властивості, пломби, ярлики, упаковка придбаного товару.</li>
</ul>
