<h1>Обмен и возврат</h1>
<p class="lead">
  Обмен или возврат товара надлежащего качества могут быть осуществлены в течение 14 дней со дня покупки (срок определяется по дате, указанной в счете на отгрузку), при следующих условиях:
</p>
<ul>
  <li>Товар не должен эксплуатироваться в течение всего срока со дня покупки</li>
  <li>Сохранены товарный вид, потребительские свойства, пломбы, ярлыки, упаковка приобретенного товара</li>
</ul>
